<div class="modal-header">
  <h4 class="modal-title">New Pattern</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <form [formGroup]="newStepForm" novalidate>
      <div class="form-group row">
        <label class="col-sm-3 form-control-label text-nowrap" for="patternId">id:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="patternId" formControlName="patternId"/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 form-control-label text-nowrap" for="patternName">name:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="patternName" formControlName="patternName"/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 form-control-label text-nowrap" for="strategy">Strategy type:</label>
        <select class="form-control col-sm-6" formControlName="strategy" id="strategy">
          <option disabled selected value>Select a Strategy</option>
          <option *ngFor="let strategy of this.availableStrategies" [value]="strategy.classifiedName">{{strategy.shortName}}</option>
        </select>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 form-control-label text-nowrap" for="strategyName">strategy name:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="strategyName" formControlName="strategyName"/>
        </div>
      </div>

      <div class="form-group">
        <h6>Input Types</h6>
        <hr/>
        <div formArrayName="inputTypes">
          <div *ngFor="let control of newStepForm.controls['inputTypes'].controls; let i = index">
            <div [formGroupName]="i">
              <div class="form-group row">
                <label class="col-sm-1 form-control-label text-nowrap" [for]="'inputType'+i">type</label>
                <div class="col-sm-4">
                  <select class="form-control" [id]="'inputType'+i" formControlName="inputType">
                    <option *ngFor="let evidenceType of availableEvidenceTypes"
                      [ngValue]="evidenceType">{{evidenceType.shortName}}
                    </option>
                  </select>
                </div>
                <label class="col-sm-1 form-control-label text-nowrap" [for]="'inputTypeName'+i">name</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" [id]="'inputTypeName'+i" formControlName="inputTypeName"/>
                </div>
                <button class="btn btn-danger" (click)='removeInputType(i)'>-</button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-1"></div>
          <button class="btn btn-primary" (click)="addInputType()">Add Input Type</button>
        </div>
      </div>

      <div class="form-group">
        <h6>Output Type</h6>
        <hr/>
      </div>
      <div formGroupName="outputType">
        <div class="form-group row">
          <label class="col-sm-1 form-control-label text-nowrap" for='outputType'>type</label>
          <div class="col-sm-4">
            <select class="form-control" id="outputType" formControlName="outputType">
              <option *ngFor="let conclusionType of availableConclusionTypes"
                      [ngValue]="conclusionType">{{conclusionType.shortName}}
              </option>
            </select>
          </div>
          <label class="col-sm-1 form-control-label text-nowrap" for='outputTypeName'>name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="outputTypeName" formControlName="outputTypeName"/>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Cancel</button>
  <button type="button" class="btn btn-success" (click)="submit();activeModal.close('Submitted')">Validate</button>
</div>
