
<div class="btn-toolbar " role="toolbar" aria-label="111">
    <div class="btn-group btn btn-default" [ngClass]="{'disabled': disableRemoveNode() }" role="group" (click)="removeElement($event)" >Remove Step</div>

    <div id="disable" class="btn-group btn btn-default" [ngClass]="{'disabled': disableAddSubStep() }" role="group" (click)="addSubStep($event)" >Add Sub Step</div>
    <div id="disable" class="btn-group btn btn-default" [ngClass]="{'disabled': disableAddRootStep() }" role="group" (click)="addRootStep($event)" >Add Root Step</div>
    <div id="disable" class="btn-group btn btn-default" [ngClass]="{'disabled': disableAddEvidence() }" role="group" (click)="addEvidence($event)" >Add Evidence</div>
    <div id="disable" class="btn-group btn btn-default" [ngClass]="{'disabled': disableRemoveEvidence() }" role="group" (click)="removeEvidence($event)" >Remove Evidence</div>
</div>
