<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
    <div class="btn-toolbar " role="toolbar" aria-label="111">
        <div class="btn-group btn btn-default" role="group" aria-label="222">Hide Node</div>
        <div class="btn-group  btn btn-default" role="group" aria-label="333">Show Node</div>
        <div class="btn-group btn btn-default" role="group" aria-label="4444">Remove Node</div>
    </div>
</body>
</html>