
<div class="row row-without-margin">
    <div class="col-sm-2 col-md-2 col-lg-2">
        <edittoolbar-view></edittoolbar-view>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <actionstoolbar-view class="actionstoolbar-view"></actionstoolbar-view>
            </div>
            <div class="row">
                <div (click)="zoomIn()" class="btn btn-default btn-zoom btn-zoom-plus">+</div>
                <div (click)="zoomOut()" class="btn btn-default btn-zoom btn-zoom-minus">-</div>
                <div id="myholder"></div>
            </div>
        </div>

    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
        <properties-view [selectedElement]="selectedElement"></properties-view>
    </div>
</div>