<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
    <link rel="stylesheet" href="../../css/app.css" >
    <style>
        nav {
            background-color:#bcd;
            border-radius: 8px;
            padding: 0 !important;
            border: 1px solid #ddd;
            height: 400px;
        }
    </style>
</head>
<body>
<nav class="col-sm-12">
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading text-center">Graph palette</div>
    </div>
</nav>
<script src="../../js/jquery-1.12.4.min.js"></script>
<script src="../../js/bootstrap.min.js" ></script>
</body>
</html>