<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">

        <ul class="nav navbar-nav">
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"  role=button" aria-haspopup="true" aria-expanded="false"> Diagram <span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Import a diagram</a></li>
                    <li><a href="#"> Select a diagram</a></li>
                    <li><a href="#">Print into PDF</a></li>

                </ul>

        </ul>
    </div>
</nav>
<script src="../../js/jquery-1.12.4.min.js"></script>
<script src="../../js/bootstrap.min.js" ></script>
</body>
</html>