<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
    <link rel="stylesheet" href="../../css/app.css" >

    <style>
        nav {
            background-color:#bcd;
            border-radius: 15px;
            padding: 0 !important;
            border: 1px solid #ddd;
            height: 400px;
        }
    </style>
</head>
<body>
<nav class="col-sm-12">
    <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading text-center">visual settings</div>

    <!-- Table -->
    <table class="table table table-striped">
        <tbody >
        <tr>Label :</tr>
        <tr>Border : </tr>
        <tr>Color : </tr>
        <tr>Line type : </tr>
        </tbody>
    </table>



    <!-- Default panel contents -->
    <div class="panel-heading text-center">Properties</div>

    <!-- Table -->
    <table class="table table table-striped">
        <tbody *ngFor="let entry of tree">
            <tr>{{entry.key}} : {{entry.value}}</tr>
        <!--<span *ngFor="let e of entry.value.nodes | keys">
               <tr>text.text : {{e.value.text}}</tr>
           </span>-->
       </tbody>
   </table>
</div>
</nav>
<script src="../../js/jquery-1.12.4.min.js"></script>
<script src="../../js/bootstrap.min.js" ></script>
</body>
</html>