
<div class="row row-without-margin">
    <div class="{{diagramWidth}}">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <hr/>
            <div class="row">
                <div (click)="zoomIn()" class="btn btn-default btn-zoom btn-zoom-plus">+</div>
                <div (click)="zoomOut()" class="btn btn-default btn-zoom btn-zoom-minus">-</div>
                <div id="myholderScroll"><div id="myholder" tabindex="1"></div></div>

            </div>
        </div>

    </div>

    <div class="col-sm-6 col-md-2 col-lg-2" id="myholderScroll2" *ngIf="(selectedElement != null)">
        <properties-view *ngIf="(selectedElement != null)" [(selectedElement)]="selectedElement" (selectedElementChange)="onSelectedElementChange($event)" ></properties-view>
    </div>
</div>
