<div class="modal-header">
  <h4 class="modal-title">New Step from Pattern</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" id="newStepModalBody">
  <form [formGroup]="newStepForm" novalidate>
    <div class="form-group row">
      <label class="col-sm-3 form-control-label text-nowrap" for="patternId">Pattern:</label>
      <select class="form-control col-sm-6" id="patternId" formControlName="patternId" >
        <option *ngFor="let patternId of availablePatternsId"
                [value]="patternId">{{patternId}}
        </option>
      </select>
    </div>
    <div *ngIf="this.pattern" formArrayName="inputTypes">
      <div *ngFor="let inputType of this.pattern.inputTypes; let i = index">
        <label class="col-sm-2 form-control-label text-nowrap">Input Type: </label>
        <label class="col-sm-2 form-control-label text-nowrap">{{inputType.type}}</label>
        <hr/>
        <div *ngFor="let field of dynamicInputFields[i]" [formGroupName]="i" class="form-group">
          <div class="row" [ngSwitch]="field.domElement">
            <label class="col-sm-2 form-control-label text-nowrap" [for]="field.fieldName">{{field.fieldName}}</label>
            <input *ngSwitchCase="domElement.INPUT" type="text" class="form-control col-sm-4" [id]="field.fieldName" [formControlName]="field.fieldName"/>
            <div *ngSwitchCase="domElement.ARRAY_PREPROCESS_DIRECTIVE">
              <label class="col-sm-2 form-control-label text-nowrap">Coma separated list of value</label>
              <input appArrayPreprocess  type="text" class="form-control col-sm-4" [id]="field.fieldName" [formControlName]="field.fieldName"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="this.pattern" formGroupName="outputType" class="form-group">
      <label class="col-sm-2 form-control-label text-nowrap">Output Type: </label>
      <label class="col-sm-2 form-control-label text-nowrap">{{this.pattern.outputType.type}}</label>
      <hr/>
      <div *ngFor="let field of dynamicOuputFields">
        <div class="row" [ngSwitch]="field.domElement">
          <label class="col-sm-2 form-control-label text-nowrap" [for]="field.fieldName">{{field.fieldName}}</label>
          <input *ngSwitchCase="domElement.INPUT" type="text" class="form-control col-sm-4" [id]="field.fieldName" [formControlName]="field.fieldName"/>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Cancel</button>
  <button type="button" class="btn btn-success" (click)="submit();activeModal.close('Submitted')">Validate</button>
</div>
