<app-workspace-toolbar (onNewDiagram)="onNewDiagram()" (onUploadAs)="openModal(uploadAsModal)" (onDeleteArgSystem)="openModal(deleteArgSystemModal)" (onNewPattern)="openPatternModal()" (onNewStep)="openNewStepModal()" [diagramLoaded]="diagramLoaded"></app-workspace-toolbar>
<app-connector (onArgSystemChange)="onArgSystemChange($event)"></app-connector>
<diagram-view *ngIf="diagramLoaded" ><img src="assets/images/spinner.gif" /></diagram-view>


<ng-template #uploadAsModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Upload to remote server</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="c('Close click')">Cancel</button>
    <button type="button" class="btn btn-success" (click)="uploadArgSystem(); c('Submitted')">Upload</button>
  </div>
</ng-template>

<ng-template #deleteArgSystemModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Delete Argumentation System ?</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>This action is irreversible</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel </button>
    <button type="button" class="btn btn-danger" (click)="deleteArgSystem(); c('Submitted')" >Delete</button>
  </div>
</ng-template>
