<div class="container" id="connectorComponent">
  <h4> AVEK Reacher </h4>

  <div class="row">
    <div class="col col-xs-6">

      <p>Possibilities</p>
      <button type="button" class="btn btn-default" (click)="retrieveAllArgumentationSystemsName()">Reload Systems</button>
        <select class="selectpicker" #argSystId (change)="changeCurrentArgSystem(argSystId.value)">
          <option disabled selected value> Select an Arg System</option>
          <option *ngFor="let argSystemId of argSystemIdList" value="{{argSystemId}}">{{argSystemId}}</option>
        </select>
      <div *ngIf="currentArgSystem != null ">
        <p>Argumentation System: {{currentArgSystemId}}</p>
        <button type="button" class="btn btn-danger" (click)="deleteCurrentArgSystem()"> Delete that system</button>
      </div>
    </div>
  </div>

  <div class="col col-xs-6" *ngIf="currentArgSystem != null">
    <label>
      <select class="selectpicker" #patternId (change)="changeCurrentPattern(patternId.value)">
        <option disabled selected value> Select a Pattern</option>
        <option *ngFor="let pattern of patternsIdList" value="{{pattern}}">{{pattern}}</option>
      </select>
    </label>
    <div *ngIf="currentPattern != null ">
      <p>Pattern Id: {{currentPatternId}}</p>
      <p>Name: {{currentPattern.name}}</p>
    </div>
  </div>

</div>
