<div id="connectorComponent">
  <h2>Connector Comp</h2>

  <div>
    <p>Possibilities</p>
    <select #t (change)="changeCurrentArgSystem(t.value)">
      <option disabled selected value> -- select an option -- </option>
      <option *ngFor="let argSystem of argSystemIdList" value="{{argSystem}}">{{argSystem}}</option>
    </select>
  </div>

  <div>
    <p>Argumentation System</p>
    <button *ngIf="currentArgSystem != null" (click)="retrieveArgumentationSystem(currentArgSystem)">Retrieve</button>
    <div *ngIf="currentArgSystem != null">
      <ul>
      <li *ngFor="let step of currentArgSystem.steps">
        <span>{{step.id}}</span>
      </li>
    </ul>
      <ul>
        <li *ngFor="let baseEvidence of currentArgSystem.baseEvidences">
          <span>{{baseEvidence.role}}</span>
        </li>
      </ul>
      <p>{{currentArgSystem}}</p>
      <p>{{currentArgSystem.objective}}</p>
      <p>{{currentArgSystem.patternsBase}}</p>
    </div>
  </div>

  <div>
    <p>Constructed element</p>
    <button *ngIf="currentArgSystem != null" (click)="construct()">CONSTRUCT</button>
  </div>
</div>
