<div class="container" id="connectorComponent">
  <h4>Justification Factory</h4>

  <div class="row">
    <div class="col col-sm-6">
      <select class="selectpicker" #argSystId [(ngModel)]="currentArgSystemId" (change)="changeCurrentArgSystem(argSystId.value)">
        <option disabled selected value> Select a Justification System</option>
        <option *ngFor="let argSystemId of argSystemIdList" value="{{argSystemId}}">{{argSystemId}}</option>
      </select>
      <button type="button" class="btn btn-default" (click)="retrieveAllArgumentationSystemsName()">Reload Systems</button>
    </div>
  </div>
</div>
